<section class="mx-10 mt-3 mb-3 body-font">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-md-6 col-12 order-2 order-md-1 mt-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 class="display mb-4 font-weight-bold"><%= t('.title')%></h1>
          <h2 class="mb-8" style="margin-top: 28px; margin-bottom: 28px; font-size: 16px;">ちりつも節約は、節約を楽しみながらできるサービス</h2>
          <h2 class="mb-8" style="margin-top: 28px; margin-bottom: 28px; font-size: 16px;">ことわざの「塵も積もれば山となる」にちなんで、ちりつも節約</h2>
          <h2 class="mb-8" style="margin-top: 28px; margin-bottom: 28px; font-size: 16px;">毎日節約の記録をつけて、コツコツ節約に取り組もう！</h2>
        </div>
      </div>
      <div class="col-md-6 col-12 order-1 order-md-2 d-flex align-items-center mt-4">
        <%= image_tag 'man.jpg', class: 'img-fluid mx-auto d-block', style: 'max-width: 100%;' %>
      </div>
    </div>
  </div>
</section>
<section class="body-font">
  <div class="container px-5 py-24">
    <h1 class="display font-weight-bold text-center text-gray-900 mb-5"><%= t('.how-to-use')%></h1>
    <div class="row">
      <div class="col-md-4 col-12 mb-4 d-flex">
        <div class="w-12 h-12 d-inline-flex align-items-center justify-content-center rounded-circle bg-warning text-warning mb-4 flex-shrink-0">
          <i class="bi bi-share h-6 w-6"></i>
        </div>
        <div class="flex-grow-1 pl-3">
          <h2 class="h4 font-weight-bold mb-2">目標を立てよう</h2>
            <div class="box2">
              <p class="lead">どのくらい節約したいか具体的な目標を持つことでモチベーション維持につながるよ！</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mb-4 d-flex">
        <div class="w-12 h-12 d-inline-flex align-items-center justify-content-center rounded-circle bg-warning text-warning mb-4 flex-shrink-0">
          <i class="bi bi-tv h-6 w-6"></i>
        </div>
        <div class="flex-grow-1 pl-3">
          <h2 class="h4 font-weight-bold mb-2">毎日記録しよう</h2>
            <div class="box2">
              <p class="lead">毎日記録することで、どのくらい節約できたかわかるよ</p>
              <p class="lead">記録は、1日に一回チェックするだけ！</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 col-12 mb-4 d-flex">
        <div class="w-12 h-12 d-inline-flex align-items-center justify-content-center rounded-circle bg-warning text-warning mb-4 flex-shrink-0">
          <i class="bi bi-geo-alt h-6 w-6"></i>
        </div>
        <div class="flex-grow-1 pl-3">
          <h2 class="h4 font-weight-bold mb-2">あなたの節約術を共有しよう</h2>
            <div class="box2">
              <p class="lead">節約術を発見しよう</p>
              <p class="lead">他のユーザーの節約術を実践してみよう！</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
