<div class="top-container">
  <div class="money-container"></div>
  <div class="title-container">
    <h1 class="title">
      <span>　ち</span>
      <span>　り</span>
      <span>　つ</span>
      <span>　も</span>
      <span>　節</span>
      <span>　約</span>
    </h1>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var container = $('.money-container');
    var titleContainer = $('.title-container');
    var moneyAnimationTimer;

    function createMoney() {
      var money = $('<div class="money"></div>');
      money.css('left', Math.random() * 100 + '%');
      money.css('animationDuration', Math.random() * 4 + 3 + 's');
      container.append(money);
    }

    function keepCreatingMoney() {
      createMoney();
    }

    function showTitle() {
      titleContainer.css('display', 'block');
      moneyAnimationTimer = setTimeout(function() {
        clearInterval(keepCreatingMoneyInterval);
      }, 10000);
    }

    var keepCreatingMoneyInterval = setInterval(keepCreatingMoney, 1000); 

    setTimeout(showTitle, 6000);

    const CLASSNAME = '-visible';
    const TIMEOUT = 1500;
    const title = $('.title');

    setInterval(function() {
      title.addClass(CLASSNAME);
      setTimeout(function() {
        title.removeClass(CLASSNAME);
      }, TIMEOUT);
    }, TIMEOUT * 2);
  });
</script>