<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>ちりつも節約</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <a href="<%= new_user_path %>" class="btn btn-primary">新規登録</a>
        <a href="<%= login_path %>" class="btn btn-primary">ログイン</a>
      </div>
    </div>
  </div>
</div>
