<body class="top-page">
  <%= image_tag("top_page.jpg") %>
  <h1 class="service-name">ちりつも節約</h1>
  <div class="top-container">
    <div class="button-group">
      <a href="<%= new_user_path %>" class="btn btn-dark">新規登録</a>
      <a href="<%= login_path %>" class="btn btn-dark">ログイン</a>
    </div>
  </div>
</body>
