<div class="test_box font_test">
  <div class="background"> 
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-12 text-center">
          <h1>ちりつも節約</h1>
        </div>
      </div>
    </div>
    <div class="lead_sp f18">
      <p class="inview">ちりつも節約へようこそ！!</p>
      <p class="inview">突然だけど、ちりつも節約と聞いたところで、<br>あまりピンとこないよね？<br>ちりつも節約は、「塵も積もれば山となる」をきっかけに作ったんだ。</p>
      <p class="inview">小さなことでも、<br>積み重ねが大事ってことだね。<br>それを節約にした時に、<br>どれくらい節約の山ができるんだろう？<br></p>
      <p class="inview">簡単な節約をこなして、<br>継続して節約しようじゃないか！</p>
      <p class="inview">まずは登録から、よろしく頼むぜ✌︎</p>
    </div>
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-6 offset-md-3 text-center">
          <div class="text-center">
            <a href="<%= new_user_path %>" class="btn btn-dark">新規登録</a>
            <a href="<%= login_path %>" class="btn btn-dark">ログイン</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>