<div class="explanation">
  <h1 class="explanation-title">ちりつも節約とは</h1>
  <div class="explanation-body">
    <p class="inview">ちりつも節約は、節約を楽しみながらできるサービスです！</p>
    <p class="inview">ことわざの「塵も積もれば山となる」にちなんで、ちりつも節約です。</p>
    <p class="inview">節約のリストを記録して、記録したものがどれくらい節約できたかがわかります。</p>
    <p class="inview">また、この節約の金額に応じてあなたのステータスもレベルアップします。</p>
    <p class="inview">ユーザー同士の投稿機能もあるので、あなたの節約術を投稿しよう！</p>
    <p class="inview">まずは登録からしてね！！</p>
  </div>
</div>
<div class="explanation-image">
  <%= image_tag("explanation.jpg", style: "max-width: 30%; height: auto;") %>
</div>

