<div class="box">
    <div class="box-title">ちりつも節約とは</div>
    <p>ちりつも節約は、節約を楽しみながらできるサービスです！</p>
    <p>ことわざの「塵も積もれば山となる」にちなんで、ちりつも節約です。</p>
    <p>使い方はまず、節約リストを記録してみよう。</p>
    <p>あなたの記録したものがどれくらい節約できたかわかります。</p>
    <p>また、記録した金額に応じてレベルアップをします。</p>
    <p>ユーザー同士の投稿機能もあリます。</p>
    <p>、あなたの節約術を共有しよう！</p>
    <p>まずは登録からしてね！！</p>
</div>
