/*css共有フォルダー*/

/*ログイン前後のheader*/

/* 画面サイズが1279px以下の時はPC用メニューは非表示 */
@media screen and (max-width: 1279px) {
  .pc-menu {
    display: none;
  }
}
/* 画面サイズが1280px以上の時はスマホ用メニューは非表示 */
@media screen and (min-width: 1280px) {
  .sp-menu {
    display: none;
  }
}

header {
  display: flex;
  background: #ebad67;
  height: 80px;
  position: sticky;
  top: 0; 
  left: 0; 
  z-index: 999;
}
.main-menu {
  margin: 0 auto;
  display: flex;
  width: 1280px;
}

.pc-menu {
  width: 100%;
  text-align: right;
}
.pc-menu > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.pc-menu > ul > li {
  text-align: center;
  font-size: 16px;
  width: 10%;
}
.pc-menu > ul > li > a {
  display: block;
  text-decoration: none;
  color: #fff8f8;
  line-height: 80px;
}

.pc-menu > ul > li > ul {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 120px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.user-image{
  margin-left: 60px;
  line-height: 80px;
}
.user-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.user-dropdown a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #000;
}

.user-menu:hover .user-dropdown {
  display: block;
}

.user-name {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  margin-bottom: 10px;
}

.left-aligned-link {
  float: left;
  margin-right: 180px;
}

.sp-menu__box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 80px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background: #966e28;
}
.sp-menu__box span,
.sp-menu__box span:before,
.sp-menu__box span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  position: absolute;
}
.sp-menu__box span:before {
  bottom: 8px;
}
.sp-menu__box span:after {
  top: 8px;
}
#sp-menu__check {
  display: none;
}
#sp-menu__check:checked ~ .sp-menu__box span {
  background: rgba(255, 255, 255, 0);
}
#sp-menu__check:checked ~ .sp-menu__box span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#sp-menu__check:checked ~ .sp-menu__box span::after {
  top: 0;
  transform: rotate(-45deg);
}
#sp-menu__check:checked ~ .sp-menu__content {
  left: 0;
}
.sp-menu__content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: #966e28;
  transition: all 0.5s;
}
.sp-menu__list {
  padding: 70px 10px 0;
}
.sp-menu__item {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.sp-menu__link {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
}

.sp-menu__link:hover {
  background: #ffffff;
}


/*各リンク*/
.edit-link {
  text-decoration: none;
  color: #000000 ;
}

/*背景*/

.background-image{
  background-color: rgb(232, 239, 204);
  background-size: cover;
  background-position: center;
  font-family: 'arial unicode ms';
}

.background-user-image{
  background-image: url('sunflower.jpg');
  background-size: cover;
  background-position: center;
}

/*マイページとユーザー一覧*/

.my-heading {
  font-size: 20px;
  font-family:  'arial unicode ms';
  color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
}

.user-heading {
  font-size: 20px;
  font-family:  'arial unicode ms';
  color: #22a800;
  padding: 0.5em 0;
  border-top: solid 3px #22a800;
  border-bottom: solid 3px #22a800;
}

/*ここから共有*/

.content {
  background-image: url('paper.jpeg');
  box-sizing:border-box;
  padding:10vmin;
  text-align:center;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  font-family: 'arial unicode ms';
}

/*レベルに応じた色付け*/
p.見習い {
  color: green;
}

p.一人前 {
  color: orange;
}

p.名人 {
  color: blue;
}

p.達人 {
  color: purple;
}

.ranking-icon {
  font-size: 24px; 
  margin-right: 10px;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32;
}

/*ユーザー詳細*/

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #654b36;
}
.box1 p {
  margin: 0; 
  padding: 0;
  font-size: 20px;
}

@media (max-width: 768px) {
  .box1 p {
    text-align: left;
  }
}