.box {
  background-image: url('background-image.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.box .box-title {
  font-size: 1.2em;
  padding: 4px;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 30px;
}

.box p {
  padding: 20px;
  margin: 10px 0;
  font-size: 20px;
}
