/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  z-index: 1000; 
}

a {
  color: #999;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
} */