/*チェックボックス*/
.item {
  margin: 20px 0;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.checkbox-wrapper input[type="checkbox"] {
  transform: scale(2.3);
  margin-right: -40px;
}

.past-records table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000;
}

.past-records th,
.past-records td {
  padding: 8px;
  text-align: center;
  border: 2px solid #000;
}

.content-page th,
.content-page td {
  padding: 8px;
  text-align: left;
}

/*花火のアニメーション*/

@keyframes fireworks-animation {
  0% {
    transform: translate(-50%, 90vh);
    width: 4px;
    opacity: 1;
  }
  50% {
    width: 8px;
    opacity: 1;
  }
  100% {
    width: 800px;
    opacity: 0;
  }
}

.c-firework.launch {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  aspect-ratio: 1;
  background: radial-gradient(circle, yellow 10px, #000 0) 50% 00%,
    radial-gradient(circle, khaki 10px, #000 0) 00% 50%,
    radial-gradient(circle, rgb(55, 0, 255) 10px, #000 0) 50% 99%,
    radial-gradient(circle, lime 10px, #000 0) 99% 50%,
    radial-gradient(circle, crimson 10px, #000 0) 80% 90%,
    radial-gradient(circle, red 10px, #000 0) 95% 90%,
    radial-gradient(circle, yellow 10px, #000 0) 10% 60%,
    radial-gradient(circle, khaki 10px, #000 0) 31% 80%,
    radial-gradient(circle, rgb(0, 55, 255) 10px, #000 0) 80% 10%,
    radial-gradient(circle, lime 10px, #000 0) 90% 23%,
    radial-gradient(circle, crimson 10px, #000 0) 45% 20%,
    radial-gradient(circle, red 10px, #000 0) 13% 24%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  animation: fireworks-animation 4s infinite;
}

/*追加の花火*/
.c-firework2.launch {
  top: 25%;
  left: 30%;
  animation: fireworks-animation 4.2s infinite;
}
.c-firework3.launch {
  top: 30%;
  left: 80%;
  animation: fireworks-animation 4.4s infinite;
}

.star {
  color: red; 
}