.background{
  background-color: #a0522d;
}

.test_box {
    font-size:  25px;       /* 文字サイズ指定 */
    margin:  40px;          /* 空白指定 */
}
.font_test {
    font-family:  'arial unicode ms';    /* フォントの種類指定 */
}

