.top-page {
  position: relative;
  }

.top-page img {
  width: 100%;
  height: auto;
}
.service-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:  60px; 
  font-family:  'arial unicode ms';  
}

.container {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 36px;
}


.user{
  font-size:  60px; 
}



.background{
  background-color: #a0522d;
}

.test_box {
    font-size:  25px;       /* 文字サイズ指定 */
    margin:  40px;          /* 空白指定 */
}
.font_test {
    font-family:  'arial unicode ms';    /* フォントの種類指定 */
}

