
.level-初級 {
  color: green;
}

.level-中級 {
  color: orange;
}

.level-上級 {
  color: blue;
}

.level-マスター {
  color: purple;
}


.user_wrap {
  padding: 32px 0 64px;
  background-color: #95f777;
}

.user_heading-lv1 {
  font-size: 40px;
  font-family:  'arial unicode ms';
  color: #22a800;
  padding: 0.5em 0;
  border-top: solid 3px #22a800;
  border-bottom: solid 3px #22a800;
}