<header>
  <div id="navArea">
    <!-- ナビゲーションメニューのコンテンツ -->
    <nav>
      <div class="inner">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Detail</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="mask"></div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let nav = document.querySelector("#navArea");
    let btn = document.querySelector(".toggle-btn");
    let mask = document.querySelector("#mask");

    btn.onclick = () => {
      nav.classList.toggle("open");
    };

    mask.onclick = () => {
      nav.classList.toggle("open");
    };
  });
</script>
