<footer class="footer">
  <div class="container">
    <p>&copy; 2023 ちりつも節約. All rights reserved.</p>
    <ul class="md-flex">
      <li><a href="#">利用規約</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
  </div>

</footer>