<div class="container pt-5">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @posts.present? %>
          <% if params[:latest] %>
            <h2>新着順</h2>
          <% elsif params[:old] %>
            <h2>古い順</h2>
          <% elsif params[:most_liked] %>
            <h2>いいね順</h2>
          <% end %>
          <%= render @posts %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
